extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-indigo
                h3 Upload de um ficheiro
            .w3-container
                form.w3-container(action="/processaForm", method="POST", enctype="multipart/form-data")
                    label.w3-text-indigo
                        b Ficheiro
                    input.w3-input.w3-border.w3-light-grey(type="file", name="ficheiro")
                    label.w3-text-indigo
                        b Descrição
                    input.w3-input.w3-border.w3-light-grey(type="text", name="descricao")
                    input.w3-btn.w3-blue-grey(type="submit", value="Enviar")
            hr
            header.w3-container.w3-indigo
                h3 Lista de ficheiros
            .w3-container
                input.w3-button.w3-blue-grey(type="button", value="Hide List")#hide
                input.w3-button.w3-blue-grey(type="button", value="Show List")#show
            .w3-container
                table.w3-table-all
                    tr
                        th Ficheiro
                        th Descrição
                    each file in lista
                        tr
                            td
                                a(href="./ficheiros/"+file.ficheiro)= file.ficheiro
                            td= file.descricao
            include footer.pug