doctype html
html
    head
        title Submissão de Ficheiros (tpc7)
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/w3.css")
        script(src='/jquery-3.3.1.min.js')
        script(src='/myJS.js')
    body
        block content