doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js"  type="text/javascript")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="/javascripts/mypara.js"  type="text/javascript")
  body
    block content
