tr
    th Ficheiro
    th Descrição
each file in lista
    tr
        td
            a(href="/uploaded/"+file.ficheiro)= file.ficheiro
            //- a(href="/files/"+file.ficheiro)= file.ficheiro
        td= file.descricao