doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    //- script(src="/javascripts/jquery-3.3.1.min.js")
    //- script(src="/javascripts/myTwitter.js")
  body
    .w3-container
      .w3-card-4
        block content
        .w3-container
          center
            a.w3-button.w3-blue(href="http://localhost:6001") Voltar a página inicial
