extends layout
block content
  .w3-container
    header.w3-teal.w3-container
      h3 Novo Evento
    .w3-container
      form.w3-container(method="POST" action="/eventos")
        input.w3-input(type="text" name="data" placeholder="Data: AAAA-MM-DD")
        input.w3-input(type="text" name="tipo" placeholder="Tipo: ...")
        input.w3-input(type="text" name="designacao" placeholder="Designação")
        input.w3-input(type="text" name="local" placeholder="Local")
        input.w3-btn.w3-teal(type="submit" value="Enviar")
        