doctype html
html
  head
    title Gestão de Publicações
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/myPubs.js')
  body
    block content
